@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');



body{
    padding: 0;
    margin: 0;
    /* background-color: white; */
    color: rgb(8, 8, 8);
    font-family: "Poppins", sans-serif;
    background-color: #B85042;
}
header{
    /* background-color: rgb(47, 47, 47); */
    background-color: rgba(255, 255, 255, 0.975);
    /* color: white; */
    color: #B85042;
    height: 5em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 10;
    /* border-bottom: 1px solid rgb(225, 225, 225); */
    box-shadow: 0 0 5px rgb(172, 172, 172);
}

#head-btns>ul{
    display: flex;
    
}
#head-btns>ul>li{
    list-style: none;
    width: 150px;
    height: 50px;
    /* background-color: rgba(255, 255, 255, 0.238); */
    margin: 0 5px;
    border-radius: 5px;

}

#logo{
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    line-height: 5em;
}

#toggle-btn{
    display: none;
}


#head-btns ul li a{
    font-size: 20px;
    display: block;
    text-align: center;
    height: 100%;
    line-height: 50px;
    width: 100%;
    text-decoration: none;
    color: rgb(10, 10, 10);
    border-radius: 5px;
    font-weight: 500;
    /* font-size: 16px; */
    transition: color 0.5s;
}
#head-btns ul li a:hover{
    background-color: rgba(83, 83, 83, 0.268);
    color: rgba(174, 10, 10, 0.685);
    /* text-decoration: underline; */
    transition: color 0.5s;
}



/* resposive desings */
@media (max-width: 992px){
    #head-btns{
        display: none;
    }
    
    #toggle-btn{
        display: block;
    }
}