
/* Section 1 CSS */
.headline {
  /* background-color: white; */
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.452),
      rgba(255, 255, 255, 0.518)
    ),
    url("https://images.unsplash.com/photo-1483197452165-7abc4b248905?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1936&q=80");
  background-size: cover;
  background-position: top;
  max-width: 100%;
  height: 50rem;
  font-size: 100px;
  text-align: center;
  line-height: 120px;
}
.headline-text {
  padding: 13rem 5rem 0;
  /* display: flex; */
}
.red {
  color: #b85042;
  font-size: 110px;
  /* text-decoration: underline; */
  /* text-shadow: 0 0 50px #b85042b7; */
}
.small {
  font-size: 60px;
  /* font-weight: 600; */
  border: 2px solid #a5a5a54c;
  padding: 10px;
  background-color: #e3e3e34f;
}
.btn-know {
  margin-top: 40px;
}
.btn-know button {
  background-color: #b85042;
  border: 1px solid #b1483a;
  border-radius: 5px;
  height: 50px;
  width: 170px;
  font-size: 18px;
  cursor: pointer;
}

.btn-know button:hover{
    background-color: #b03322;
    box-shadow: 0 0 5px rgb(159, 81, 81);
}


.btn-know button a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
/* Resposive CSS */

@media (max-width: 1015px) {
  .headline-text {
    /* background-color: rgba(255, 255, 255, 0.563); */
    /* background-image: linear-gradient(white, pink); */
    padding: 13rem 2rem 5rem;
    /* margin: auto 0; */
    height: 100%;
  }
  .small {
    background-color: rgba(0, 0, 0, 0);
    font-size: 40px;

    font-weight: 600;
  }
  .red,
  .headline-text {
    font-size: 40px;
    line-height: 60px;
    font-weight: 600;
  }
  .headline {
    /* background: none; */
    /* background-color: green; */
    height: auto;
  }
  .btn-know {
    margin-top: 5rem;
    padding-bottom: 0px;
  }
  .btn-know button {
    border-radius: 30px;
  }
}

/* INTRO section CSS  */
.intro {
  padding: 0 3em;
  height: auto;
  /* background-color: #db7467; */
  color: rgb(193, 193, 193);
  /* box-sizing: border-box; */
}
.openhook {
  padding: 0 3em;
  height: auto;
  background-color: #c0d3c6;
}
.invite-exp {
  padding: 0 3em;
  height: auto;
  background-color: #e7e8d1;
}
.heading-3 {
  padding: 3em 0;
  text-align: center;
  font-size: 40px;
}
.content {
  font-size: 25px;
  text-align: center;
  line-height: 50px;
  /* box-sizing: border-box; */
  padding-bottom: 10rem;
}
.bold {
  font-weight: 600;
}

/* CARDS SECTION CSS */
.cards {
  height: 650px;
  background-color: white;
}
.read-about {
  /* padding-top: 5rem; */
  font-size: 40px;
  line-height: 8rem;
  text-align: center;
  height: 8rem;
  background-color: #a89cf4;
  color: rgb(255, 255, 255);
  font-weight: 600;
  /* text-decoration: underline; */
}
.article-box {
  width: 95%;
  height: 20rem;
  /* background-color: green; */
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
  overflow-x: scroll;
  position: relative;
  /* gap: 12px; */
}
.card {
  background-color: white;
  width: 18rem;
  height: 18rem;
  /* margin: 0 1rem; */
}
.card > a > img {
  width: 100%;
  width: 18rem;
  height: 18rem;
  /* margin: 0 10px; */
}
.card > .name {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 18rem;
  height: 50px;
  line-height: 50px;
  color: rgb(232, 232, 232);
  font-size: 20px;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.537);
}

@media (max-width: 1015px) {
  .content {
    font-size: 20px;
  }
}
